---
title: About Us
title-lead: We serve by building relationships
layout: small.hbs
---
<div id='main' role='main'>
    {{> small-header }}
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='page-header page-header-with-icon no-mg-t'>
                        <i class='fa-icon-tag'></i>
                        <h2>
                            Who we are
                        </h2>
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='profile-boxes'>
                                <div class='row'>
                                    <div class='col-sm-12 profile-box'>
                                        <div class='row'>
                                            <div class='col-sm-4'>
                                                <a class='image-link' data-lightbox data-lightbox-gallery='team' href='{{ assets }}/images/profiles/matthew-m-keeler@2x.jpg' title='David Doe'>
                                                    <i class='fa-icon-envelope-alt'></i>
                                                    <img alt="Matthew M. Keeler" width="165" height="165" src="{{ assets }}/images/profiles/matthew-m-keeler.jpg" />
                                                </a>
                                            </div>
                                            <div class='col-sm-8'>
                                                <h3 class='name'>Matthew M. Keeler</h3>
                                                <h4 class='position'>Owner / Developer</h4>
                                                <p>I love working closely with my clients to solve their business needs.</p>
                                                <div class='links'>
                                                    <a class='btn btn-medium-light btn-sm btn-circle' href='http://twitter.com/keelerm84'>
                                                        <i class='fa-icon-twitter'></i>
                                                    </a>
                                                    <a class='btn btn-medium-light btn-sm btn-circle' href='http://github.com/keelerm84'>
                                                        <i class='fa-icon-github'></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <p class='lead lead-xs text-justify'>Tortugas Consulting, LLC is owned and operated by Matthew M. Keeler out of North Carolina's Research Triangle.  Tortugas focuses on working closely with clients to help understand their software needs and working to deliver solutions that address the core problems their business faces.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='page-header page-header-with-icon'>
                        <i class='fa-icon-star'></i>
                        <h2>
                            Skills
                        </h2>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <ul class='circle-stats'>
                                <li>
                                <div class='circle-stat-wrapper'>
                                    <input class='hidden' data-fgColor='#8dc153' data-readOnly='true' data-stat='circle' data-thickness='0.13' type='text' value='95'>
                                    <p class='percent'>95%</p>
                                </div>
                                <h3 class='title'>PHP</h3>
                                </li>
                                <li>
                                <div class='circle-stat-wrapper'>
                                    <input class='hidden' data-fgColor='#8dc153' data-readOnly='true' data-stat='circle' data-thickness='0.13' type='text' value='70'>
                                    <p class='percent'>70%</p>
                                </div>
                                <h3 class='title'>Node.js</h3>
                                </li>
                                <li>
                                <div class='circle-stat-wrapper'>
                                    <input class='hidden' data-fgColor='#8dc153' data-readOnly='true' data-stat='circle' data-thickness='0.13' type='text' value='85'>
                                    <p class='percent'>85%</p>
                                </div>
                                <h3 class='title'>Ruby</h3>
                                </li>
                                <li>
                                <div class='circle-stat-wrapper'>
                                    <input class='hidden' data-fgColor='#8dc153' data-readOnly='true' data-stat='circle' data-thickness='0.13' type='text' value='80'>
                                    <p class='percent'>80%</p>
                                </div>
                                <h3 class='title'>Python</h3>
                                </li>
                                <li>
                                <div class='circle-stat-wrapper'>
                                    <input class='hidden' data-fgColor='#8dc153' data-readOnly='true' data-stat='circle' data-thickness='0.13' type='text' value='75'>
                                    <p class='percent'>75%</p>
                                </div>
                                <h3 class='title'>C++</h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='page-header page-header-with-icon'>
                        <i class='fa-icon-time'></i>
                        <h2>
                            Company history
                        </h2>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <ol class='timeline'>
                                <li>
                                <div class='image'><img alt="2011" width="120" height="120" src="{{ assets }}/images/timeline/wipe_ears.jpg" /></div>
                                <p class='time'>2011</p>
                                <h3 class='title'>Company Founded</h3>
                                <p>Originally formed as a Kansas corporation, Tortugas Consulting was owned and operated by Matthew M. Keeler and Jacob Walker.</p>
                                </li>
                                <li>
                                <div class='image'><img alt="2012" width="120" height="120" src="{{ assets }}/images/timeline/ruby.jpg" /></div>
                                <p class='time'>2012</p>
                                <h3 class='title'>Expanding Consulting Work</h3>
                                <p>Tortugas' consulting efforts expanded from PHP to include Python and Ruby</p>
                                </li>
                                <li>
                                <div class='image'><img alt="2014" width="120" height="120" src="{{ assets }}/images/timeline/nodejs.jpg" /></div>
                                <p class='time'>2014</p>
                                <h3 class='title'>Introducing Node.js</h3>
                                <p>The breadth of our work continues to grow as new node.js projects are introduced.</p>
                                </li>
                                <li>
                                <div class='image'><img alt="2015" width="120" height="120" src="{{ assets }}/images/timeline/north-carolina.jpg" /></div>
                                <p class='time'>2015</p>
                                <h3 class='title'>Transfer of Ownership</h3>
                                <p>Matthew takes over as the sole owner of the company.  Tortugas re-incorporated as a North Carolina company.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>
