---
title: Tortugas Consulting, LLC
---
<div id='main-content'>
            <div class='container'>
                <div class='panels-wrapper'>
                    <div class='row panels'>
                        <div class='col-sm-4 panel-item'>
                            <a class='panel panel-image' href='#'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-comments icon'></i>
                                </div>
                                <div class='panel-heading'><img class="img-responsive-sm" alt="A Variety of Languages" width="768" height="300" src="{{ assets }}/images/panels/panel_bg_compass.jpg" /></div>
                                <div class='panel-body'>
                                    <h3 class='panel-title'>A Variety of Languages</h3>
                                    <p>From dynamic languages like PHP and Ruby to strongly typed languages like C++ and Java, we have the expertise you're looking for.</p>
                                </div>
                            </a>
                        </div>
                        <div class='col-sm-4 panel-item'>
                            <a class='panel panel-image' href='#'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-exchange icon'></i>
                                </div>
                                <div class='panel-heading'><img class="img-responsive-sm" alt="More Than Just Coding" width="768" height="300" src="{{ assets }}/images/panels/panel_bg_hat.jpg" /></div>
                                <div class='panel-body'>
                                    <h3 class='panel-title'>More Than Just Coding</h3>
                                    <p>Good software developers write good code.  Great developers understand the business.  We know the importance of balancing practicality with perfection, ensuring we always deliver the highest business value possible.</p>
                                </div>
                            </a>
                        </div>
                        <div class='col-sm-4 panel-item'>
                            <a class='panel panel-image' href='#'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-lightbulb icon'></i>
                                </div>
                                <div class='panel-heading'><img class="img-responsive-sm" alt="Already Have a Team?" width="768" height="300" src="{{ assets }}/images/panels/panel_bg_chess.jpg" /></div>
                                <div class='panel-body'>
                                    <h3 class='panel-title'>Already Have a Team?</h3>
                                    <p>Your company may alread have a software team at your disposal, but the team is missing some critical experience.  We can provide guidance in these areas to help boost your team's effectiveness.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon'>
                            <i class='fa-icon-star'></i>
                        </div>
                        <div class='text-boxes'>
                            <div class='row text-box'>
                                <div class='col-sm-6'><img class="img-responsive center-block" alt="Lorem ipsum dolor sit amet" width="340" height="188" src="{{ assets }}/images/common/devices.jpg" /></div>
                                <div class='col-sm-6'>
                                    <h3 class='title'><a href="#">Pricing</a></h3>
                                    <p>Our affordable and flexible approach to pricing makes starting any project a breeze.  Whether you want to buy in bulk up front, or if you prefer a pay-as-you-go format, Tortugas' metered development model can help address any company's budgeting needs.</p>
                                </div>
                            </div>
                            <hr>
                            <div class='row text-box'>
                                <div class='col-sm-6 col-sm-push-6'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" width="330" height="183" src="{{ assets }}/images/common/chart.png" /></div>
                                <div class='col-sm-6 col-sm-pull-6'>
                                    <h3 class='title'><a href="#">Maximizing Value</a></h3>
                                    <p>Tortugas Consulting utilizes its experience to understand your business and help provide the most appropriate solution so you can focus on doing what you do best; running your business.</p>
                                    <p>We know the software we build has an impact on your lives. Your co-workers and clients are going to use it on a daily basis. Working closely with you, we will develop solutions that fit your needs at a price you can afford.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon'>
                            <i class='fa-icon-suitcase'></i>
                            <h2>
                                Our last projects
                                <small>Take a look at some of the work we have been producing.</small>
                            </h2>
                        </div>
                        <div class='row portfolio-boxes'>
                            <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                                <a class='image-link' href='portfolio_detail.html'>
                                    <i class='fa-icon-search'></i>
                                    <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="{{ assets }}/images/last_projects/cyclist.jpg" />
                                </a>
                                <h3 class='title'>Etiam vestibulum</h3>
                                <p class='category'>Photography</p>
                            </div>
                            <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                                <a class='image-link' href='portfolio_detail.html'>
                                    <i class='fa-icon-link'></i>
                                    <img class="img-responsive img-rounded center-block" alt="Malesuada" width="262" height="262" src="{{ assets }}/images/last_projects/blueberries.jpg" />
                                </a>
                                <h3 class='title'>Malesuada</h3>
                                <p class='category'>Webdesign</p>
                            </div>
                            <div class='col-sm-3 col-xs-6 portfolio-box'>
                                <a href='portfolio_detail.html'>
                                    <div class='image-link'>
                                        <i class='fa-icon-search'></i>
                                        <img class="img-responsive img-rounded center-block" alt="Dictum vulputate" width="262" height="262" src="{{ assets }}/images/last_projects/photographer.jpg" />
                                    </div>
                                    <h3 class='title'>Dictum vulputate</h3>
                                    <p class='category'>Identity</p>
                                </a>
                            </div>
                            <div class='col-sm-3 col-xs-6 portfolio-box'>
                                <a href='portfolio_detail.html'>
                                    <div class='image-link'>
                                        <i class='fa-icon-search'></i>
                                        <img class="img-responsive img-rounded center-block" alt="Semper massa" width="262" height="262" src="{{ assets }}/images/last_projects/wipe_ears.jpg" />
                                    </div>
                                    <h3 class='title'>Semper massa</h3>
                                    <p class='category'>Marketing</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon'>
                            <i class='fa-icon-quote-right'></i>
                            <h2>Testimonials</h2>
                        </div>
                        <div class='row quotes'>
                            <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                                <div class='carousel-inner'>
                                    <div class='item active quote'>
                                        <div class='col-sm-12 text-center'>
                                            <p class='lead'>We began working together on the website and backend database for Natural Organic Warehouse Inc. in September 2011. During the past year, the work completed has been detailed, extensive and comprehensive. We've established confidence in you by experiencing how you correctly interpret our requests, implement them efficiently and stand behind your work if necessary.</p>
                                            <p class='lead'>We've been very pleased with the quality of your work, the efficiency of your interaction with us, the speed and willingness to meet deadlines and the accuracy of your programming on the first implementation of new code. When tweaks and revisions were needed, your responsiveness has been fantastic.</p>
                                            <p class='lead'>We also greatly appreciate your professionalism and courtesy when interacting with our staff and their needs. We look forward to continue working with you on the Natural Organic Warehouse website and database.</p>
                                            <div class='author-wrapper'>
                                                <p class='author'>
                                                <strong>Lance Chastain</strong>,
                                                Natural Organic Warehouse
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ol class='carousel-indicators'>
                                    <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
