---
title: Portfolio
title-lead: Take a look at some of what we've built
layout: small.hbs
---
<div id='main' role='main'>
    {{> small-header }}
    <div id='main-content'>
        <div class='container'>
            <div class='row' id='portfolio-filter'>
                <div class='col-sm-12'>
                    <ul class='nav nav-pills'>
                        <li class='active'><a data-filter="*" href="#">All</a></li>
                        <li><a data-filter=".portfolio-filter-php" href="#">PHP</a></li>
                        <li><a data-filter=".portfolio-filter-nodejs" href="#">Node.js</a></li>
                        <li><a data-filter=".portfolio-filter-ruby" href="#">Ruby</a></li>
                        <li><a data-filter=".portfolio-filter-react" href="#">React</a></li>
                    </ul>
                </div>
            </div>
            <div class='row portfolio-boxes' id='portfolio-container'>
                <div class='col-sm-3 portfolio-box portfolio-filter-php portfolio-item'>
                    <a href='/natural-organic-warehouse'>
                        <div class='image-link'>
                            <i class='fa-icon-search'></i>
                            <img class="img-responsive img-rounded center-block" alt="Natural Organic Warehouse" width="263" height="171" src="{{ assets }}/images/portfolio/natural-organic-warehouse.jpg" />
                        </div>
                        <h3 class='title'>Natural Organic Warehouse</h3>
                        <p class='category'>PHP</p>
                    </a>
                </div>
                <div class='col-sm-3 portfolio-box portfolio-filter-nodejs portfolio-item'>
                    <a href='/startup-wichita'>
                        <div class='image-link'>
                            <i class='fa-icon-search'></i>
                            <img class="img-responsive img-rounded center-block" alt="Startup Wichita" width="263" height="171" src="{{ assets }}/images/portfolio/startup-wichita.jpg" />
                        </div>
                        <h3 class='title'>Startup Wichita</h3>
                        <p class='category'>Node.js</p>
                    </a>
                </div>
                <div class='col-sm-3 portfolio-box portfolio-filter-ruby portfolio-item'>
                    <a href='/young-life-leaders'>
                        <div class='image-link'>
                            <i class='fa-icon-search'></i>
                            <img class="img-responsive img-rounded center-block" alt="Young Life Global Leaders" width="263" height="171" src="{{ assets }}/images/portfolio/young-life-leaders.jpg" />
                        </div>
                        <h3 class='title'>Young Life Global Leaders</h3>
                        <p class='category'>Ruby</p>
                    </a>
                </div>
                <div class='col-sm-3 portfolio-box portfolio-filter-ruby portfolio-item'>
                    <a href='/young-life-wichita'>
                        <div class='image-link'>
                            <i class='fa-icon-search'></i>
                            <img class="img-responsive img-rounded center-block" alt="Young Life Wichita" width="263" height="171" src="{{ assets }}/images/portfolio/young-life-wichita.jpg" />
                        </div>
                        <h3 class='title'>Young Life Wichita</h3>
                        <p class='category'>Ruby</p>
                    </a>
                </div>
                <div class='col-sm-3 portfolio-box portfolio-filter-php portfolio-filter-react portfolio-item'>
                    <a href='/panna'>
                        <div class='image-link'>
                            <i class='fa-icon-search'></i>
                            <img class="img-responsive img-rounded center-block" alt="Panna" width="263" height="171" src="{{ assets }}/images/portfolio/panna.jpg" />
                        </div>
                        <h3 class='title'>Panna</h3>
                        <p class='category'>PHP, React</p>
                    </a>
                </div>
                <div class='col-sm-3 portfolio-box portfolio-filter-php portfolio-filter-react portfolio-item'>
                    <a href='/kansas-life'>
                        <div class='image-link'>
                            <i class='fa-icon-search'></i>
                            <img class="img-responsive img-rounded center-block" alt="Kansas Life" width="263" height="171" src="{{ assets }}/images/portfolio/kansas-life.jpg" />
                        </div>
                        <h3 class='title'>Kansas Life</h3>
                        <p class='category'>PHP</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
    {{> scroll-up }}
</div>
