<% content_for :javascript_includes do %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js" %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts-more.js" %>
  <%= javascript_include_tag "http://code.highcharts.com/modules/exporting.js" %>
  <%= javascript_include_tag "js_manifests/admin-weekly-monthly-hours.js" %>
<% end %>

<div class="row">
  <% @this_weeks_hours.each do |record| %>
    <div
      id="gauge-<%= record.id %>"
      data-hours="<%= record.total %>"
      data-title="<%= record.name %>"
      style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"
      class="span6">
    </div>
  <% end %>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div id="container"></div>
</div>

<table class="table table-striped hidden">
  <thead>
    <tr>
      <th>Developer</th>
      <th>Month</th>
      <th>Hours Worked</th>
    </tr>
  </thead>

  <% @devs.each do |dev| %>
    <% @months.each do |month| %>
      <tr>
        <td><%= dev %></td>
        <td><%= month %></td>
        <td><%= @month_hours_by_dev[dev][month].nil? ? 0 : number_with_precision(@month_hours_by_dev[dev][month]) %></td>
      </tr>
    <% end %>
  <% end %>

</table>
