<%= form_for(@project, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'input-block-level' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'input-block-level' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :jira_key, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :jira_key, :class => 'input-block-level' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :active, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :active %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <h2>Users</h2>
      <%= f.collection_check_boxes :user_ids, @users, :id, :name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit  class: 'btn btn-primary' %>
  </div>
<% end %>
