<h1>Project List</h1>

<dl>
  <% @projects.each do |project| %>
    <dt><h4><%= link_to project.title, project %></h4></dt>
    <dd><em><%= project.description %></em></dd>
    <% if current_user.is_admin %>
      <dd>
        <%= link_to 'Edit', edit_project_path(project) %> |
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      </dd>
    <% end %>
  <% end %>
</dl>

<%= link_to 'New Project', new_project_path if current_user.is_admin  %>
