<h1><%= @project.title %></h1>
<p><em><%= @project.description %></em></p>

<p>Current balance is: <%= number_with_precision @project.balance, { :precision => 2 } %> hours</p>

<%= paginate @events %>

<% if 0 < @events.count %>
  <table class="table table-striped">
    <thead>
      <th>Date</th>
      <th>User</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Balance</th>
      <% if current_user.is_admin %>
        <th>Actions</th>
      <% end %>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr class="<%= "success" if 0 < event.amount %>">
          <td><%= event.done_on %></td>
          <td><%= event.user.name %></td>
          <td><%= event.description %></td>
          <td><%= number_with_precision event.amount, { :precision => 2 } %></td>
          <td><%= number_with_precision @project.balance_as_of(event), { :precision => 2 } %></td>

          <% if current_user.is_admin %>
            <td>
              <div class="btn-group">
                <button class="btn btn-mini"><%= link_to 'Edit', edit_project_event_path(@project, event) %></button>
                <button class="btn btn-mini btn-danger"><%= link_to 'Destroy', project_event_path(@project, event), method: :delete, data: { confirm: 'Are you sure?' } %></button>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @events %>
<% else %>
  <p><em>There are no time events recorded for this project.</em></p>
<% end %>

<% if current_user.is_admin %>
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-small"><%= link_to 'Back', projects_path %></button>
      <button class="btn btn-small"><%= link_to 'Edit', edit_project_path(@project) %></button>
      <button class="btn btn-small btn-primary"><%= link_to 'Add Event', new_project_event_path(@project) %></button>
    </div>
  </div>
<% end %>
