<!DOCTYPE html>
<!--
  Name: Jednotka - Multipurpose Website HTML Template
  Author: http://themeforest.net/user/BublinaStudio
  Version: 1.6
-->
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
<head>
<title>Home | Jednotka - Multipurpose Template</title>
<meta content='blog, business, clean, multipurpose template, twitter bootstrap 3, responsive' name='keywords'>
<meta content='Jednotka is multipurpose Twitter Bootstrap 3 template which is suitable for any type of business or online project. ' name='description'>
<meta content='BublinaStudio.com' name='author'>
<meta content='all' name='robots'>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
<link href='{{ assets }}/images/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
<link href='{{ assets }}/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
<!-- / required stylesheets -->
<link href="{{ assets }}/stylesheets/bootstrap/bootstrap.min.css" media="all" id="bootstrap" rel="stylesheet" type="text/css" />
<link href="{{ assets }}/stylesheets/jednotka_green.css" media="all" id="colors" rel="stylesheet" type="text/css" />
<!-- / not required stylesheets -->
<link href="{{ assets }}/stylesheets/demo.css" media="all" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
    <script src="{{ assets }}/javascripts/ie/html5shiv.js" type="text/javascript"></script>
    <script src="{{ assets }}/javascripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class='homepage'>
<div id='wrapper'>
    <header id='header'>
        <div class='container'>
            <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
                <div class='navbar-header'>
                    <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='index.html'>
                        <span>Tortugas Consulting, LLC</span>
                    </a>
                </div>
                <div class='collapse navbar-collapse navbar-header-collapse'>
                    <ul class='nav navbar-nav navbar-right'>
                        <li class='active'>
                        <a href='/'>
                            <span>
                                Home
                            </span>
                        </a>
                        </li>
                        <li>
                        <a href='/'>
                            <span>
                                About
                            </span>
                        </a>
                        </li>
                        <li>
                        <a href='/'>
                            <span>
                                Portfolio
                            </span>
                        </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div id='main' role='main'>
        <!-- / carousel blur -->
        <div class='hero-carousel carousel-blur carousel-blur-arrows carousel-blur-pagination flexslider' id='carousel-example-1'>
            <ul class='slides'>
                <li class='item'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12 animate'>
                            <h1 class='big fadeInUp animated'>
                                Maximizing business value
                            </h1>
                            <p class='normal fadeInUp animated'>Leverage our expertise to help drive the success of your business</p>
                            <a class='btn btn-contrast btn-lg fadeInRight animated' href='http://themeforest.net/item/jednotka-multipurpose-website-html-template/5689597?ref=BublinaStudio'>
                                Contact us today
                            </a>
                        </div>
                    </div>
                </div>
                </li>
                <li class='item'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12 animate'>
                            <h2 class='big fadeInLeftBig animated'>
                                A deeper understanding
                            </h2>
                            <p class='normal fadeInRightBig animated'>Learning your business needs and delivering value</p>
                            <a class='btn btn-contrast btn-lg fadeInDownBig animated' href='http://themeforest.net/item/jednotka-multipurpose-website-html-template/5689597?ref=BublinaStudio'>
                                Read client testimonials
                            </a>
                        </div>
                    </div>
                </div>
                </li>
                <li class='item'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12 animate'>
                            <h2 class='big fadeInRightBig animated'>Providing custom solutions</h2>
                            <p class='normal fadeInLeftBig animated'>We deliver, whatever your technology needs are</p>
                            <a class='btn btn-contrast btn-lg fadeInUpBig animated' href='http://themeforest.net/item/jednotka-multipurpose-website-html-template/5689597?ref=BublinaStudio'>
                                See our projects
                            </a>
                        </div>
                    </div>
                </div>
                </li>
            </ul>
        </div>
        <div id='main-content'>
            <div class='container'>
                <div class='panels-wrapper'>
                    <div class='row panels'>
                        <div class='col-sm-4 panel-item'>
                            <a class='panel panel-image' href='#'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-comments icon'></i>
                                </div>
                                <div class='panel-heading'><img class="img-responsive-sm" alt="A Variety of Languages" width="768" height="300" src="{{ assets }}/images/panels/panel_bg_compass.jpg" /></div>
                                <div class='panel-body'>
                                    <h3 class='panel-title'>A Variety of Languages</h3>
                                    <p>From dynamic languages like PHP and Ruby to strongly typed languages like C++ and Java, we have the expertise you're looking for.</p>
                                </div>
                            </a>
                        </div>
                        <div class='col-sm-4 panel-item'>
                            <a class='panel panel-image' href='#'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-exchange icon'></i>
                                </div>
                                <div class='panel-heading'><img class="img-responsive-sm" alt="More Than Just Coding" width="768" height="300" src="{{ assets }}/images/panels/panel_bg_hat.jpg" /></div>
                                <div class='panel-body'>
                                    <h3 class='panel-title'>More Than Just Coding</h3>
                                    <p>Good software developers write good code.  Great developers understand the business.  We know the importance of balancing practicality with perfection, ensuring we always deliver the highest business value possible.</p>
                                </div>
                            </a>
                        </div>
                        <div class='col-sm-4 panel-item'>
                            <a class='panel panel-image' href='#'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-lightbulb icon'></i>
                                </div>
                                <div class='panel-heading'><img class="img-responsive-sm" alt="Already Have a Team?" width="768" height="300" src="{{ assets }}/images/panels/panel_bg_chess.jpg" /></div>
                                <div class='panel-body'>
                                    <h3 class='panel-title'>Already Have a Team?</h3>
                                    <p>Your company may alread have a software team at your disposal, but the team is missing some critical experience.  We can provide guidance in these areas to help boost your team's effectiveness.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon'>
                            <i class='fa-icon-star'></i>
                        </div>
                        <div class='text-boxes'>
                            <div class='row text-box'>
                                <div class='col-sm-6'><img class="img-responsive center-block" alt="Lorem ipsum dolor sit amet" width="340" height="188" src="{{ assets }}/images/common/devices.jpg" /></div>
                                <div class='col-sm-6'>
                                    <h3 class='title'><a href="#">Pricing</a></h3>
                                    <p>Our affordable and flexible approach to pricing makes starting any project a breeze.  Whether you want to buy in bulk up front, or if you prefer a pay-as-you-go format, Tortugas' metered development model can help address any company's budgeting needs.</p>
                                </div>
                            </div>
                            <hr>
                            <div class='row text-box'>
                                <div class='col-sm-6 col-sm-push-6'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" width="330" height="183" src="{{ assets }}/images/common/chart.png" /></div>
                                <div class='col-sm-6 col-sm-pull-6'>
                                    <h3 class='title'><a href="#">Maximizing Value</a></h3>
                                    <p>Tortugas Consulting utilizes its experience to understand your business and help provide the most appropriate solution so you can focus on doing what you do best; running your business.</p>
                                    <p>We know the software we build has an impact on your lives. Your co-workers and clients are going to use it on a daily basis. Working closely with you, we will develop solutions that fit your needs at a price you can afford.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon'>
                            <i class='fa-icon-suitcase'></i>
                            <h2>
                                Our last projects
                                <small>Take a look at some of the work we have been producing.</small>
                            </h2>
                        </div>
                        <div class='row portfolio-boxes'>
                            <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                                <a class='image-link' href='portfolio_detail.html'>
                                    <i class='fa-icon-search'></i>
                                    <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="{{ assets }}/images/last_projects/cyclist.jpg" />
                                </a>
                                <h3 class='title'>Etiam vestibulum</h3>
                                <p class='category'>Photography</p>
                            </div>
                            <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                                <a class='image-link' href='portfolio_detail.html'>
                                    <i class='fa-icon-link'></i>
                                    <img class="img-responsive img-rounded center-block" alt="Malesuada" width="262" height="262" src="{{ assets }}/images/last_projects/blueberries.jpg" />
                                </a>
                                <h3 class='title'>Malesuada</h3>
                                <p class='category'>Webdesign</p>
                            </div>
                            <div class='col-sm-3 col-xs-6 portfolio-box'>
                                <a href='portfolio_detail.html'>
                                    <div class='image-link'>
                                        <i class='fa-icon-search'></i>
                                        <img class="img-responsive img-rounded center-block" alt="Dictum vulputate" width="262" height="262" src="{{ assets }}/images/last_projects/photographer.jpg" />
                                    </div>
                                    <h3 class='title'>Dictum vulputate</h3>
                                    <p class='category'>Identity</p>
                                </a>
                            </div>
                            <div class='col-sm-3 col-xs-6 portfolio-box'>
                                <a href='portfolio_detail.html'>
                                    <div class='image-link'>
                                        <i class='fa-icon-search'></i>
                                        <img class="img-responsive img-rounded center-block" alt="Semper massa" width="262" height="262" src="{{ assets }}/images/last_projects/wipe_ears.jpg" />
                                    </div>
                                    <h3 class='title'>Semper massa</h3>
                                    <p class='category'>Marketing</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='page-header page-header-with-icon'>
                            <i class='fa-icon-quote-right'></i>
                            <h2>Testimonials</h2>
                        </div>
                        <div class='row quotes'>
                            <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                                <div class='carousel-inner'>
                                    <div class='item active quote'>
                                        <div class='col-sm-12 text-center'>
                                            <p class='lead'>We began working together on the website and backend database for Natural Organic Warehouse Inc. in September 2011. During the past year, the work completed has been detailed, extensive and comprehensive. We've established confidence in you by experiencing how you correctly interpret our requests, implement them efficiently and stand behind your work if necessary.</p>
                                            <p class='lead'>We've been very pleased with the quality of your work, the efficiency of your interaction with us, the speed and willingness to meet deadlines and the accuracy of your programming on the first implementation of new code. When tweaks and revisions were needed, your responsiveness has been fantastic.</p>
                                            <p class='lead'>We also greatly appreciate your professionalism and courtesy when interacting with our staff and their needs. We look forward to continue working with you on the Natural Organic Warehouse website and database.</p>
                                            <div class='author-wrapper'>
                                                <p class='author'>
                                                <strong>Lance Chastain</strong>,
                                                Natural Organic Warehouse
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ol class='carousel-indicators'>
                                    <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='fade' id='scroll-to-top'>
            <i class='fa-icon-chevron-up'></i>
        </div>
    </div>
    <footer id='footer'>
        <div id='footer-main'>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-4 col-sm-6 info-box'>
                        <p class='no-mg-b'>Owned and operated by Matthew M. Keeler, Tortugas Consulting, LLC. is a small development company operating out of North Carolina's Research Triangle.</p>
                    </div>
                    <div class='col-md-4 col-sm-6 info-box'>
                        <p class='no-mg-b'>With a strong commitment to quality and affordability, Tortugas Consulting is an excellent choice for your company's development needs.</p>
                    </div>
                    <div class='col-md-4 col-sm-6 info-box'>
                        <div class='icon-boxes'>
                            <div class='icon-box'>
                                <div class='icon icon-wrap'>
                                    <i class='fa-icon-phone'></i>
                                </div>
                                <div class='content'>
                                    <a href='tel:+6624688845'>662 GNU-UTIL</a>
                                </div>
                            </div>
                            <div class='icon-box'>
                                <div class='icon icon-wrap'>
                                    <i class='fa-icon-envelope'></i>
                                </div>
                                <div class='content'><a href="mailto:projects@tortugas-llc.com">projects@tortugas-llc.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- / required javascripts -->
<script src="{{ assets }}/javascripts/jquery/jquery.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/jquery/jquery.mobile.custom.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/modernizr/modernizr.custom.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/hover_dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/retina/retina.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/knob/jquery.knob.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/isotope/jquery.isotope.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/isotope/jquery.isotope.sloppy-masonry.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/validate/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/flexslider/jquery.flexslider.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/countdown/countdown.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/nivo_lightbox/nivo-lightbox.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/plugins/cycle/jquery.cycle.all.min.js" type="text/javascript"></script>
<script src="{{ assets }}/javascripts/jednotka.js" type="text/javascript"></script>
</body>
</html>
