<h1><i class="icon-question-sign"></i><%= set_then_return_title "About Us" %></h1>
<p>
  Read our profiles then see what our customers are saying on our <%= link_to "recommendations page", about_recommendations_path %>.
</p>
<div class="owner">
  <h2>Jacob Walker</h2>
  <%= image_tag "http://gravatar.com/avatar/cd03939675fa2670282e8091dd9d4679?s=150", :alt => "Jacob Walker", :class => "pull-right img-polaroid" %>
  <p>
    I am not your average developer. My undergraduate degree is a Bachelors of Science in Business majoring in Management.
    My graduate degree is a Masters of Business Administration with an emphasis on Computer Information Systems. This business
    background gives me a perspective that is uncommon among developers. I can understand and appreciate business problems
    and processes. I can communicate effectively and often serve as an Operations-to-Programming translator. I have a pleasant
    personality and get along well with almost everyone. *
  </p>
  <p>
    I have been programming since high school and have been enthused about technology since well before that. Although I do
    not have a degree in computer science I have taken a multitude of networking, programming, and systems analysis courses.
    I have been working professionally as an applications developer since 2010 and I dedicate the majority of my free time to
    learning more about technologies.
  </p>
  <p>* Except ninjas.</p>
  <p>
    Read more at <%= link_to "Jacob Walker's personal website", "http://jacob-walker.com" %>.
  </p>
</div>
<div class="owner">
  <h2>Matthew M. Keeler</h2>
  <%= image_tag "http://gravatar.com/avatar/6b954758168daf24f9832b5743092324?s=150", :alt => "Matthew M. Keeler", :class => "pull-right img-polaroid" %>
  <p>
    Continual education and self-improvement have always been passions of mine.  Being a developer, this is especially important.
    I spend the vast majority of my time pursuing a deeper understanding of core design principles, application architecture,
    and various technologies.  As a client, you will directly benefit as my research leads to more cost effective, innovative
    solutions with shorter turn-around times.
  </p>
  <p>
    With over half a decade of professional experience, and an equal amount of work in academia, my exposure to a wide range
    of problem spaces ensures I have a solid foundation to approach any subject matter with which you may require assistance.
    Having worked closely with both programmers and non-technical persons over the years, I have proven myself to be
    invaluable during collaboration and requirement gathering meetings.  I look forward to working closely with you as we address
    your technology needs.
  </p>
  <p>
    Read more at <%= link_to "Matthew M. Keeler's personal website", "http://matthewmkeeler.com" %>.
  </p>
</div>
